extends layout

block content
  include ./add_form.pug
  h2= name.table_name
  h3 ToDo:

  a.btn.btn-primary.button(href='#', type=button, data-toggle='modal', data-target='#newItem') New

  table.table
    for list_item in uncompleted

      tr
        td.done.button
          a.btn.btn-warning.button(href=`/completed/${list_item.id}?tableid=${name.table_id}&user=${user_id}`) Complete
        td.h5.name(id=`name${list_item.id}`) #{list_item.item_title}
        td.description(id=`desc${list_item.id}`) #{list_item.item_description}
        td.deletebutton
          a.btn.btn-danger.button(href=`/delete/${list_item.id}?tableid=${name.table_id}&user=${user_id}`) delete

  h3 Completed
  table.table
    for list_item in completed
      tr
        td.button
        td.h5.name #{list_item.item_title}
        td.description #{list_item.item_description}
        td.deletebutton
          a.btn.btn-danger.button(href=`/delete/${list_item.id}?tableid=${name.table_id}&user=${user_id}`) delete

  a.btn.btn-primary.button(href=`/home/?user=${user_id}`) Lists
